doctype html
html(lang="zh-cn")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    // override variable
    title=title

    // common css, can be override or append
    block styles
      link(rel="stylesheet", href="/src/styles/reset.scss")
  body 
    header#header-section
      //- include other pug template file
      include /components/header

    block content
      div main-layout

    footer#footer-section footer

    block scripts
      script(src="/src/scripts/common.js" type="module")
